stowed/.config/mpd/*
stowed/.config/emacs
stowed/.config/Code
stowed/.config/discord
stowed/.config/Zettlr
stowed/.config/xfce4
stowed/.config/xournalapp
stowed/.config/StarUML
stowed/.config/Thunar
stowed/.config/QBittorrent
stowed/.config/balena-etcher
stowed/.config/GIMP
stowed/.config/go
stowed/.config/gtk-3.0
stowed/.config/gtk-4.0
stowed/.config/Insomnium
stowed/.config/Joplin
stowed/.config/pulse
stowed/.config/.newsboat
