config/.config/Code/.org.chromium.Chromium.U5GoMP
config/.config/Code/code.lock
config/.config/emacs/init.el~
config/.config/emacs/var/
config/.config/nvim/autoload/
config/.config/nvim/plugged/
config/.config/emacs/eln-cache/
config/.config/emacs/elpa/
config/.config/emacs/history
config/.config/emacs/straight/
config/.config/emacs/transient/
config/.config/emacs/auto-save-list/
config/.config/emacs/README.el
config/.config/emacs/straight
config/.config/emacs/elpa
config/.ipython/profile_default/static/custom/custom.css
config/.ipython/profile_default/history.sqlite
/config/.config/guix/current
/config/.config/nvim/.netrwhist
/config/.config/emacs/tramp
config/.config/emacs/.cache/
config/.config/emacs/.lsp-session-v1
config/.config/emacs/eshell/
config/.config/Code/Backups/
config/.config/Code/Cache/
config/.config/Code/CachedData/
config/.config/Code/CachedExtensionVSIXs/
config/.config/Code/CachedExtensions/
config/.config/Code/Code Cache/
config/.config/Code/Cookies
config/.config/Code/Cookies-journal
config/.config/Code/Crash Reports/
config/.config/Code/GPUCache/
config/.config/Code/Local Storage/
config/.config/Code/Network Persistent State
config/.config/Code/QuotaManager
config/.config/Code/QuotaManager-journal
config/.config/Code/Service Worker/
config/.config/Code/Session Storage/
config/.config/Code/TransportSecurity
config/.config/Code/User/globalStorage/
config/.config/Code/User/workspaceStorage/
config/.config/Code/exthost Crash Reports/
config/.config/Code/languagepacks.json
config/.config/Code/logs/
config/.config/Code/machineid
config/.config/Code/storage.json
/config/.config/nvim/nvim.lua
config/.config/Code/.org.chromium.Chromium.pN9lrs
config/.config/emacs/emojis
config/.config/nvim/plugin
config/.config/Code/.org.chromium.Chromium.2yXvCe
config/.config/Code/.org.chromium.Chromium.UnnPog
config/.config/Code/.org.chromium.Chromium.9E1iMO
/config/.config/Code - OSS/Backups/
config/.config/Code - OSS/Cache/
config/.config/Code - OSS/CachedData/
config/.config/Code - OSS/CachedExtensionVSIXs/
config/.config/Code - OSS/CachedExtensions/
config/.config/Code - OSS/Code Cache/
config/.config/Code - OSS/Cookies
config/.config/Code - OSS/Cookies-journal
config/.config/Code - OSS/Crash Reports/
config/.config/Code - OSS/Dictionaries/
config/.config/Code - OSS/GPUCache/
config/.config/Code - OSS/Local Storage/
config/.config/Code - OSS/Network Persistent State
config/.config/Code - OSS/Preferences
config/.config/Code - OSS/QuotaManager
config/.config/Code - OSS/QuotaManager-journal
config/.config/Code - OSS/Service Worker/
config/.config/Code - OSS/Session Storage/
config/.config/Code - OSS/TransportSecurity
config/.config/Code - OSS/User/globalStorage/
config/.config/Code - OSS/User/workspaceStorage/
config/.config/Code - OSS/databases/
config/.config/Code - OSS/exthost Crash Reports/
config/.config/Code - OSS/languagepacks.json
config/.config/Code - OSS/logs/
config/.config/Code - OSS/machineid
config/.config/Code - OSS/storage.json
config/.config/Code/Preferences
config/.config/Code/watcherServiceParcelSharedProcess/
config/.config/awesome/'
config/.config/awesome/bk.lua
config/.config/awesome/old.fnl
config/.config/emacs/early-init.el~
config/.config/mpd/mpd.db
config/.config/mpd/mpd.log
config/.config/mpd/mpd.pid
config/.config/mpd/mpdstate
