[submodule "nvim-treesitter"]
	path = stowed/.config/nvim/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim-treesitter-textobjects"]
	path = stowed/.config/nvim/pack/plugins/start/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
[submodule "nvim-treesitter-textsubjects"]
	path = stowed/.config/nvim/pack/plugins/start/nvim-treesitter-textsubjects
	url = https://github.com/RRethy/nvim-treesitter-textsubjects
[submodule "impatient.nvim"]
	path = stowed/.config/nvim/pack/plugins/start/impatient.nvim
	url = https://github.com/lewis6991/impatient.nvim
[submodule "readline.vim"]
	path = stowed/.config/nvim/pack/plugins/start/readline.vim
	url = https://github.com/ryvnf/readline.vim
[submodule "plenary.nvim"]
	path = stowed/.config/nvim/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "vim-lastplace"]
	path = stowed/.config/nvim/pack/plugins/start/vim-lastplace
	url = https://github.com/farmergreg/vim-lastplace
[submodule "fzf-lua"]
	path = stowed/.config/nvim/pack/plugins/start/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua
[submodule "nvim-autopairs"]
	path = stowed/.config/nvim/pack/plugins/start/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
[submodule "go.nvim"]
	path = stowed/.config/nvim/pack/plugins/start/go.nvim
	url = https://github.com/ray-x/go.nvim
[submodule "templ.vim"]
	path = stowed/.config/nvim/pack/plugins/start/templ.vim
	url = https://github.com/joerdav/templ.vim
[submodule "nvim-dap"]
	path = stowed/.config/nvim/pack/plugins/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "nvim-dap-ui"]
	path = stowed/.config/nvim/pack/plugins/start/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui
[submodule "tabout.nvim"]
	path = stowed/.config/nvim/pack/plugins/start/tabout.nvim
	url = https://github.com/abecodes/tabout.nvim
[submodule "nvim-lspconfig"]
	path = stowed/.config/nvim/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "mini.nvim"]
	path = stowed/.config/nvim/pack/plugins/start/mini.nvim
	url = https://github.com/echasnovski/mini.nvim
[submodule "fidget.nvim"]
	path = stowed/.config/nvim/pack/plugins/start/fidget.nvim
	url = https://github.com/j-hui/fidget.nvim
[submodule "base16.nvim"]
	path = stowed/.config/nvim/pack/plugins/start/base16-nvim
	url = https://github.com/RRethy/base16-nvim
[submodule "stowed/.config/nvim/pack/plugins/start/nvim-cmp"]
	path = stowed/.config/nvim/pack/plugins/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "stowed/.config/nvim/pack/plugins/start/cmp-nvim-lsp"]
	path = stowed/.config/nvim/pack/plugins/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "stowed/.config/nvim/pack/plugins/start/cmp-buffer"]
	path = stowed/.config/nvim/pack/plugins/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "stowed/.config/nvim/pack/plugins/start/cmp-path"]
	path = stowed/.config/nvim/pack/plugins/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "stowed/.config/nvim/pack/plugins/start/LuaSnip"]
	path = stowed/.config/nvim/pack/plugins/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "stowed/.config/nvim/pack/plugins/start/cmp_luasnip"]
	path = stowed/.config/nvim/pack/plugins/start/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip
[submodule "stowed/.config/nvim/pack/plugins/start/friendly-snippets"]
	path = stowed/.config/nvim/pack/plugins/start/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets
[submodule "stowed/.config/nvim/pack/plugins/start/lsp_signature.nvim"]
	path = stowed/.config/nvim/pack/plugins/start/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim
